.shinobiplus .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wA.svg');
}
.shinobiplus .cg-wrap piece.b-piece.white, .shinobiplus .cg-wrap piece.pm-piece.white {
    background-image: url('../../images/pieces/merida/wB.svg');
}
.shinobiplus .cg-wrap piece.c-piece.white, .shinobiplus .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/shogun/merida/mono/wC.svg');
}
.shinobiplus .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wD.svg');
}
.shinobiplus .cg-wrap piece.e-piece.white {
    background-image: url('../../images/pieces/merida/wE.svg');
}
.shinobiplus .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wF.svg');
}
.shinobiplus .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/shogun/merida/mono/wG.svg');
}
.shinobiplus .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wH.svg');
}
.shinobiplus .cg-wrap piece.i-piece.white, .shinobiplus .cg-wrap piece.pa-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wI.svg');
}
.shinobiplus .cg-wrap piece.j-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wJ.svg');
}
.shinobiplus .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/merida/wK.svg');
}
.shinobiplus .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wL.svg');
}
.shinobiplus .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wM.svg');
}
.shinobiplus .cg-wrap piece.n-piece.white, .shinobiplus .cg-wrap piece.ph-piece.white {
    background-image: url('../../images/pieces/merida/wN.svg');
}
.shinobiplus .cg-wrap piece.o-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wO.svg');
}
.shinobiplus .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}
.shinobiplus .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/merida/wQ.svg');
}
.shinobiplus .cg-wrap piece.r-piece.white, .shinobiplus .cg-wrap piece.pl-piece.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.shinobiplus .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wS.svg');
}
.shinobiplus .cg-wrap piece.t-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wT.svg');
}
.shinobiplus .cg-wrap piece.u-piece.white, .shinobiplus .cg-wrap piece.po-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wU.svg');
}
.shinobiplus .cg-wrap piece.v-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wV.svg');
}
.shinobiplus .cg-wrap piece.w-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wW.svg');
}
.shinobiplus .cg-wrap piece.x-piece.white {
    background-image: url('../../images/pieces/orda/merida/wY.svg');
}
.shinobiplus .cg-wrap piece.y-piece.white, .shinobiplus .cg-wrap piece.pt-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wY.svg');
}
.shinobiplus .cg-wrap piece.z-piece.white, .shinobiplus .cg-wrap piece.pv-piece.white {
    background-image: url('../../images/pieces/shinobiplus/wZ.svg');
}


.shinobiplus .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bA.svg');
}
.shinobiplus .cg-wrap piece.b-piece.black, .shinobiplus .cg-wrap piece.pm-piece.black {
    background-image: url('../../images/pieces/merida/bB.svg');
}
.shinobiplus .cg-wrap piece.c-piece.black, .shinobiplus .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bC.svg');
}
.shinobiplus .cg-wrap piece.d-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bD.svg');
}
.shinobiplus .cg-wrap piece.e-piece.black {
    background-image: url('../../images/pieces/merida/bE.svg');
}
.shinobiplus .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bF.svg');
}
.shinobiplus .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bG.svg');
}
.shinobiplus .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bH.svg');
}
.shinobiplus .cg-wrap piece.i-piece.black, .shinobiplus .cg-wrap piece.pa-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bI.svg');
}
.shinobiplus .cg-wrap piece.j-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bJ.svg');
}
.shinobiplus .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
.shinobiplus .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bL.svg');
}
.shinobiplus .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bM.svg');
}
.shinobiplus .cg-wrap piece.n-piece.black, .shinobiplus .cg-wrap piece.ph-piece.black {
    background-image: url('../../images/pieces/merida/bN.svg');
}
.shinobiplus .cg-wrap piece.o-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bO.svg');
}
.shinobiplus .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.shinobiplus .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/merida/bQ.svg');
}
.shinobiplus .cg-wrap piece.r-piece.black, .shinobiplus .cg-wrap piece.pl-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.shinobiplus .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bS.svg');
}
.shinobiplus .cg-wrap piece.t-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bT.svg');
}
.shinobiplus .cg-wrap piece.u-piece.black, .shinobiplus .cg-wrap piece.po-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bU.svg');
}
.shinobiplus .cg-wrap piece.v-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bV.svg');
}
.shinobiplus .cg-wrap piece.w-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bW.svg');
}
.shinobiplus .cg-wrap piece.x-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bX.svg');
}
.shinobiplus .cg-wrap piece.y-piece.black, .shinobiplus .cg-wrap piece.pt-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bY.svg');
}
.shinobiplus .cg-wrap piece.z-piece.black, .shinobiplus .cg-wrap piece.pv-piece.black {
    background-image: url('../../images/pieces/shinobiplus/bZ.svg');
}
